

.header1{
  background-color:cornflowerblue;
  display: flex;
  justify-content: space-around;
}
.section{
  display: flex;
  align-items: center;
}

.Link {
  
  margin-right: 30px;
 
 
}



.Product-main{
  display: flex;
  flex-wrap: wrap;
}

.products{
  background-color: brown;
  height:250px;
  width: 250px;
  margin-top: 50px;
  margin-left: 30px;
}
      